@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    font-family: Roboto sans-serif;
}

input[type=text], select {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-wrapper {
    position: relative;
    top: -50px;
    max-width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: max-content;
    padding: 5px 10px;
    border-radius: 4px;
    display: none;
}

.notification_success {
    background: #80b883;
}

.notification_error {
    background: #b88083;
}

.autocomplete {
    margin-top: -5px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
}

.autocomplete__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.autocomplete__item {
    cursor: pointer;
    padding: 8px;
}

.autocomplete__item:hover{
    background: #cccccc;
}

.widget{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(100, 100, 100, 0.8);
    border-radius: 4px;
    display: grid;
    place-items: center;
}